button[title="Stop drawing"] {
  display: none !important;
}

button[title="Add a marker"] {
  display: none !important;
}

button[title="Drag Pegman onto the map to open Street View"] {
  display: none !important;
}